/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.content{
    width: 60px;
    text-align: center;
    height: 300px;
    margin: 10px 20px;
    background-color: red;
    border: 1px solid black;
}
.left-inline, .right-inline{
    display: inline-block;
    width: 40%;
}
.left-inline{
    vertical-align: top;
}
.right-inline{
    height: inherit;
}
#render-wiki{
    height: 300px;
    width: 100px;
    margin: 10px;
}
.btn{
    background: black;
    border: 1px solid white;
    color: white;
    height: 30px;
    width: 100px;
    padding: 15px;
    vertical-align: middle;
}
.bottom-content{
    height: 100px;
}
#render-dictionary{
    height: 150px;
width: 100%;
margin: 10px;
}
.block{
    display: block;
    width: 100%;
    
}