/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}

header{
    background-color: #92E0E5;
    color: white;
    min-height: 50px;
    padding: 0 25px;
}
header nav{
    float: right;
}
header h1{
    float: left;
    background: url(httpshttps://www.freepik.com/free-vector/halftone-background-with-circles_13295064.htm#query=abstract%20background&position=3&from_view=keyword://www.https://media.istockphoto.com/vectors/abstract-blurred-colorful-background-vector-id1248542684.com/vector/abstract-blurred-colorful-background-gm1248542684-363656260);
    height: 35px;
    margin: 0px;
}
nav li{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 0px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav li:hover{
    background-color: #3f8df7; 
}
#here{
    background: url() no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 50px 0px;
    margin-bottom: 50px;
}
#here img{
    border: 15px solid #3f8da7;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}
#here.btn{
    background-color: white;
    border: 5px solid #3f8da7;
    color: #3f8da7;
    padding: 5px 10px;
    text-decoration: none;
}
.btn:hover{
    padding: 5px 10px;
    background-color: #3f8da7;
    color: white;
}
body {
    background-color: magenta;
  }
  

