/* Our CSS file. */
*{
    box-sizing: border-box;
}

html, body, .container, .content {
width: 100%;
height: 100%;
}
body{
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrap{
    height: 100%;
    margin: 50px;
}
.card{
    display: flex;
    flex: 0 0 auto;
    background-color: #fff;
    min-width: 700px;
    margin: 80px 0;
    border-radius: 5px;
    box-shadow: 1px 5px 7px 0px rgba(red, green, blue, alpha);
-webkit-box-shadow: 1px 5px 7px 0px rgba(red, green, blue, alpha) ;
-moz-box-shadow:1px 5px 7px 0px rgba(red, green, blue, alpha) ;
}
.card-pic-wrap{
    border-radius: 5px 0 0 5px;
    width: 300px;
    flex: 0 0 auto;
    position: relative;
    background-color:linear gradient(to bottom, #9fd483, #8dc26f);

}
.card-pic-wrap img{
    position: absolute;
    bottom: 3em;
    left: 50%;
    margin-left: -170px;
    width: 350px;
}
.card-content{
    padding: 3em 4em 2em;
}
a{
    background: #8dc26f;
    color: white;
    padding: 0 25px;
    height: 50px;
    font-size: 0 8em;
    letter-spacing: 1px;
    line-height: 50px;
    display: inline-block;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 1.5em;
    border: 1px solid rgba (0,0,0,0,5);
}
a :hover{
    background-color: #70a257;
}
@media(max-width: 790px){
    body{
        overflow: hidden;
    }
    .wrap{
        margin: 20px;
    }
}
.card{
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-pic-wrap{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.card-pic-wrap img{
    bottom: 20px;
    position: relative;
}
.card-content{
    padding: 2em 2em 1em;
}